body {
  background: #aaa;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*padding: 20px 0 0 0;*/
  /*display: flex;*/
  /*align-items: center;*/
  cursor: crosshair;
}

#p5_loading {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#sketch-container {
  position: relative;
  display: block;
  margin: 0 auto;
}

canvas#cvs {
  /*background-color: #000;*/
  border: 1px solid #FFF;
  /*display: flex;*/
  height: auto !important;
  /*margin: 0 auto;*/
  padding: 0;
  width: 640px;
  /*display: inline-block;*/
  /*align-items: center;*/
}


#audio-button {
  width: 32px;
  height: 32px;  
  position: absolute;
  right: 10;
  bottom: 10;
  display:none;/* we don't show unless we have a background image */
}

/*#debug {
  background-color: transparent;
  color: #ff008d;
  display: inline-block;
  font-size: 14pt;
  font-family: monospace;
  position: absolute;
  z-index: 1;
}
*/

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}